body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('bg.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2em;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

p{
    padding-left: 25% ;
}