body{
    background-image: url("../assets/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flightImg{
    position: absolute;
    width: 224px;
    height: 175px;
    left : 675px;
    top: 40px;
}

.flyServe{
    position: absolute;
    width: 599px;
    height: 72px;
    left: 875px;
    top: -15px;
    font-family: Kaushan Script;
    font-style: normal; 
    font-weight: normal;
    font-size: 80px;
    color: #000000;
}

.EWB{
    position: absolute;
    width: 571px;
    height: 194px;
    left: 248px;
    top: 364px;
    font-family: Gugi;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 94px;
    color: #FFFFFF;
}

.login{
    margin-top: 225px;
    margin-bottom: auto;
}

.outerBox{
    width: 540px;
    height: 597px;
    margin-left: 59%;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.emailBox{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    margin-top: 12%;
    width: 439px;
    height: 42px;
}

.text{
    font-family: Gugi;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    line-height: 150px;
    color: #FFFFFF;
}

input[type=text],input[type=Password], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

.pswdBox{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    width: 439px;
    height: 42px;
}
.submitBox{
    margin-right: auto;
    margin-left: auto;
    width: 439px;
    height: 42px;
}

.button {
    background-color: #22A6FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.SignUpPosition{
    position: absolute;
    width: 439px;
    height: 42px;
    left: 1162px;
    top: 700px;
    font-weight: 700;
    font-size: 20px;
    text-align: right;