<html>
    <head>
        <title>Booking Confirmed</title>
        <link rel="stylesheet" type="text/css" href="confirm.css">
    </head>
    <body>
        <div class="container">
            <h1><center>Booking Confirmed!</center></h1>
                <h3>Your booking Details are:</h3>
                <div class="innerContainer"></div>
                    <p><b>Booking ID: </b>12345</p>
                    <p><b>Flight No: </b>JA1234</p>
                    <p><b>Date of Flight: </b>01-03-2010</p>
                    <p><b>Amount Paid: </b>₹10000</p>
                    <p><b>Seating Class: </b>Economy</p>
            </div>
        </div>
    </body>
</html>